/*body, html, page-content-wrapper, .container-fluid, .row, #map{
height: 100%;
}*/


/*Override default simple-sidebar padding to render map directly against sidebar*/
#page-content-wrapper {
        padding: 0px;
}

html, body { height: 100%; }

#page-content-wrapper {
    height: calc(100% - 52px);
}

#wrapper, .container-fluid, .row {
    /*min-height: 100px;*/
    height: 100%;
    }

#map {
    position: relative;
    height: 100%;
    /*margin-top:50px;*/
}

/*#menu-toggle {
    position: absolute;
    width: 95px;
    left: 10px;
    top: 80px;
    z-index: 2;
}*/

.form-control {
    margin-left: 20px;
    margin-right: 20px;
    width:210px;
}
/*
#map {
    min-height: 300px;
    height: auto;
}*/
/*
.large-scrollable-menu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}

.small-scrollable-menu {
    height: auto;
    max-height: 120px;
    overflow-x: hidden;
}*/

h1 {
    padding-bottom: 0px;
}

.navbar {
    margin-bottom: 0px;
}

#wikipediaAlert {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99;
    visibility: hidden;
}

.wikiImg {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.wikiImg:hover {
    -webkit-filter: none; /* Chrome, Safari, Opera */
    filter: none;
}

.navbar {
    min-width:200px;
}

.navbar-text {
    margin-left: 10px;
}